<!DOCTYPE html>
<html>
<head>
  <title>Repetition</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a id="navbar-text" href="/">REPITITIONS</a></h1>
    </li>
  </ul>

  <section  id="sign" class="top-bar-section">
    <ul class="right">
      <%- if current_athlete -%>
        <li><%= link_to 'SIGN OUT', destroy_athlete_session_path, method: :delete %></li>
      <%- else -%>
        <li id="sign-up"><%= link_to 'SIGN UP', new_athlete_registration_path %></li>
        <li><%= link_to 'SIGN IN', new_athlete_session_path %></li>
      <%- end -%>
    </ul>
  </section>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
